Source: ibus-vadan
Section: python
Priority: extra
Maintainer: ruwan Jayasinghe <ruwan800@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: ibus-vadan
Architecture: any
Depends: ${misc:Depends}, ${python:Depends} ,ibus 
Description: Input method for Sinhala based on I-Bus
 Input method for Sinhala based on I-Bus
