Source: ibus-vadan
Section: unknown
Priority: extra
Maintainer: ruwan Jayasinghe <ruwan800@gmail.com>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/ibus-vadan.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/ibus-vadan.git;a=summary

Package: ibus-vadan
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
