Package: ibus-vadan
Version: 1.0-1
Architecture: i386
Maintainer: ruwan Jayasinghe <ruwan800@gmail.com>
Installed-Size: 4891
Depends: python (>= 2.4), python-support (>= 0.90.0), ibus
Section: python
Priority: extra
Description: Input method for Sinhala based on I-Bus
 Input method for Sinhala based on I-Bus
